In [196]:
import numpy as np
import pandas as pd

In [197]:
df=pd.read_csv("movie.csv")

In [198]:
df['Text']=df['Text'].apply(str.lower)
df
#df.columns

   Examples                       Text Class
0         1          i loved the movie     +
1         2          i hated the movie     -
2         3  a great movie. good movie     +
3         4                poor acting     -
4         5   great acting. good movie     +

In [199]:
vocabulary=[]
pos_Class=[]
neg_Class=[]
punc=['.',',','?']
#for i in range(len(df)):
def Class_Vocab(i,s):
    l=df['Text'][i].split()
    for j in range(len(l)):
        for x in l[j]:
            if x in punc:
                l[j]=l[j].replace(x,"")
    if(s=='+'):
        pos_Class.extend(l)
    else:
        neg_Class.extend(l)

In [200]:
total_negClass=0
total_posClass=0
for i in range(len(df)):
    if(df['Class'][i]=='+'):
        total_posClass+=1
        Class_Vocab(i,'+')
    else:
        total_negClass+=1
        Class_Vocab(i,'-')
vocabulary.extend(pos_Class)
vocabulary.extend(neg_Class)
vocabulary=list(set(vocabulary))
print(vocabulary)
print(pos_Class)
print(neg_Class)

['hated', 'loved', 'great', 'movie', 'poor', 'good', 'i', 'a', 'the', 'acting']
['i', 'loved', 'the', 'movie', 'a', 'great', 'movie', 'good', 'movie', 'great', 'acting', 'good', 'movie']
['i', 'hated', 'the', 'movie', 'poor', 'acting']

In [201]:
def Calculation(l,Class):
    value=1
    if(Class=='+'):
        value=value*(total_posClass/len(df))
        for x in l:
            p=(pos_Class.count(x)+1)/(len(pos_Class)+len(vocabulary))
            value=value*p
    else:
        value=value*(total_negClass/len(df))
        for x in l:
            p=(neg_Class.count(x)+1)/(len(neg_Class)+len(vocabulary))
            value=value*p
    return value

In [202]:
testing=[x for x in input("Enter the Test Data: ").split()]
pos_prob=Calculation(testing,'+')
neg_prob=Calculation(testing,'-')
if(pos_prob<neg_prob):
    print("NEGATIVE CLASS")
else:
    print("POSITIVE CLASS")

Enter the Test Data: I loved the movie
POSITIVE CLASS